<div class="row main">
  <div class="panel-heading">
    <div class="panel-title text-center">
      <h1 class="title">Login</h1>
      <hr />
    </div>
  </div>
  <div class="card-shadow main-center">
    <form class="form-horizontal" #loginForm='ngForm' (ngSubmit)='onSubmit()'>

      <div class="form-group">
        <label for="username" class="cols-sm-2 control-label">Username</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
            <input id="username" required class="form-control" placeholder='Enter your Username' name="username" [(ngModel)]="user.username">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="cols-sm-2 control-label">Password</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input id="password" required class="form-control" placeholder='Enter your Password' type='password' name="password" [(ngModel)]="user.password">
          </div>
        </div>
      </div>

      <div class="login-register">
        <button id="loginButton" class="btn btn-success" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>