#footer{
    text-align: center;
    background-color: black;
    opacity: 0.8;
    padding-top: 15px;
    width: 100%;
    min-height: 50px !important;
    margin-top: 20px;
    z-index: 11;
    position: relative;
    bottom: 0;
}

#footer span{
    z-index: 10;
    margin: auto;
    opacity: 0.8;
    color: #e7e7e7;
}