small{
    color: red;
}

.main{
    margin-top: 30px;
}

h1.title { 
   font-size: 50px;
   font-family: 'Passion One', cursive; 
   font-weight: 400; 
}

hr{
   width: 20%;
   color: #e7e7e7;
}

.form-group{
   margin-bottom: 15px;
}

label{
   margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
   font-size: 11px;
   padding-top: 3px;
}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
   padding: 40px 40px;

}

.login-button{
   margin-top: 5px;
}

.login-register{
   font-size: 11px;
   text-align: center;
}