<form class='example-form'>
  <table class='example-full-width' cellspacing='0'>
    <tr>
      <td>
        <md-input-container class='example-full-width'>
          <input mdInput placeholder='Username'>
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class='example-full-width'>
          <input mdInput placeholder='First name'>
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class='example-full-width'>
          <input mdInput placeholder='Last name'>
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class='example-full-width'>
          <input mdInput placeholder='Password' type='password'>
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <button md-raised-button type="submit">Register</button>
      </td>
    </tr>
  </table>
</form>