<!-- <md-card *ngIf="loaded" class="userDetails">
  <div>
    <h1>{{user.firstName + ' ' + user.lastName}}</h1>
    <md-chip color="primary" selected="true">{{user.username}}</md-chip>
    <p>
      <label for="firstName">First name:</label>
      <md-input-container>
        <input mdInput [attr.disabled]="!editing?'':null" name="firstName" type="text" [(ngModel)]="user.firstName">
      </md-input-container>
    </p>
    <p>
      <label for="lastName">Last name:</label>
      <md-input-container>
        <input mdInput [attr.disabled]="!editing?'':null" name="lastName" type="text" [(ngModel)]="user.lastName">
      </md-input-container>
    </p>
    <p>
      <label for="email">Email:</label>
      <md-input-container>
        <input mdInput [attr.disabled]="!editing?'':null" name="email" type="email" [(ngModel)]="user.email">
      </md-input-container>
    </p>
  </div>

  <div>
    <button md-raised-button *ngIf="!editing" (click)="makeEditable()">Edit</button>
    <button md-raised-button *ngIf="editing" (click)="cancelUpdate()">Cancel</button>
    <button md-raised-button *ngIf="editing" (click)="updateProfile()">Update</button>
  </div>

  <div>
    <div *ngFor="let item of this.userCurrencies | keyValue">
      <span>Coin: {{item.key}} | Quantity: {{item.value.quantity}}</span>
      <a md-raised-button color="primary" [routerLink]="['/currency/', item.value.id]">Go to value</a>
    </div>
  </div>
  <button type="button" class="btn btn-success">Success</button>
</md-card> -->