<div class="container">
  <div *ngIf="loaded" class="row">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h1 class="title">{{user.firstName + ' ' + user.lastName}}</h1>
        <h6 class="diasbled">{{user.username}}</h6>
        <hr />
      </div>
    </div>
    <div class="col-md-4 col-md-offset-1 card-shadow">
      <p [formGroup]="userForm">
        <label for="firstName">First name:</label>
        <input id="firstName" class="form-control" [attr.disabled]="!editing?'':null" formControlName="firstName" type="text" [(ngModel)]="user.firstName">
        <small [hidden]="userForm.controls['firstName'].valid || (userForm.controls['firstName'].pristine)">
          First name must be (3-25) chars with alphabetical symbols
      </small>
      </p>
      <p [formGroup]="userForm">
        <label for="lastName">Last name:</label>
        <input id="lastName" class="form-control" [attr.disabled]="!editing?'':null" formControlName="lastName" type="text" [(ngModel)]="user.lastName">
        <small [hidden]="userForm.controls['lastName'].valid || (userForm.controls['lastName'].pristine)">
          Last name must be (3-25) chars with alphabetical symbols
      </small>
      </p>
      <p [formGroup]="userForm">
        <label for="email">Email:</label>
        <input id="email" class="form-control" [attr.disabled]="!editing?'':null" formControlName="email" type="email" [(ngModel)]="user.email">
        <small [hidden]="userForm.controls['email'].valid || (userForm.controls['email'].pristine)">
          Valid e-mail is required
      </small>
      </p>
      <div>
        <button id="editBtn" class="btn btn-primary" *ngIf="!editing" (click)="makeEditable()">Edit</button>
        <button id="cancelBtn" class="btn btn-primary" *ngIf="editing" (click)="cancelUpdate()">Cancel</button>
        <button id="updateBtn" class="btn btn-primary" [disabled]=disabled *ngIf="editing" (click)="updateProfile()">Update</button>
      </div>
    </div>
    <div class="col-md-6 card-shadow">
      <div *ngIf="(this.userCurrencies | keyValue).length == 0">
        <h4>No currencies purchased.</h4>
      </div>
      <table class="table table-striped">
        <tr>
          <th>Coin name</th>
          <th>Quantity</th>
          <th>About</th>
        </tr>
        <tr *ngFor="let item of this.userCurrencies | keyValue">
          <td *ngIf="item.value.quantity > 0" class="coin-property">{{item.key}}</td>
          <td *ngIf="item.value.quantity > 0" class="coin-property">{{item.value.quantity}}</td>
          <td *ngIf="item.value.quantity > 0" class="coin-property"><a class="btn btn-default" [routerLink]="['/currency/', item.value.id]">Go to value</a></td>
        </tr>
      </table>
    </div>
  </div>