<div class="mat-typography container">
  <!-- <md-spinner *ngIf="loading" class="progreess-spinner"></md-spinner> -->

  <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Type to filter the name column...' (keyup)='updateFilter($event)'
  />

  <ngx-datatable #table class="material" [rows]="rows" [columnMode]="'force'" [columns]="columns" [headerHeight]="50" [footerHeight]="50"
    [rowHeight]="'auto'" [limit]="50" [selected]="selected" [selectionType]="'single'" (activate)="onActivate($event)" (select)='onSelect($event)'>
  </ngx-datatable>

  <ng-template #editTmpl let-row="row" let-value="value">
    <img width="50" src="{{row.ImageUrl | imageUrlFormatter}}" />
  </ng-template>