<nav id="header" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="brand-button navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <i class="material-icons">menu</i>
      </button>
      <a appActiveHover routerLink="/" class="navbar-brand">Crypto-Trade</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li appActiveHover><a id="currencies" routerLink="/currency/all">Currencies</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li appActiveHover *ngIf="isUserLogged" class="dropdown">
          <a id="userBtn" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, {{ loggedUserUsername | uppercase }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li id="profileBtn" appActiveHover><a [routerLink]="['/profile']">Profile</a></li>
            <li id="logoutBtn" appActiveHover><a [routerLink]="['/logout']">Logout</a></li>
          </ul>
        </li>
        <li id="registerBtn" appActiveHover *ngIf="!isUserLogged"><a [routerLink]="['/register']">Register</a></li>
        <li id="loginBtn" appActiveHover *ngIf="!isUserLogged"><a [routerLink]="['/login']">Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>