/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 

html{
    height: 100%;
}
body{
    background-color: #f4f7f6 !important;
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.progreess-spinner {
    display: block;
    margin: auto;
}

#content{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.hidden{
    display: none;
}
.bottom-padding-4{
    padding: 4em;
}

.disabled{
    color: #e7e7e7;
}

.card-shadow{
    background-color: #fff;
    padding: 10px;
    margin:2px;
   /* shadows and rounded borders */
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.shadow{
    background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.well{
    border-radius: 0 !important;
}