<div class="row section-1">
    <p class="mat-display-4">Welcome to Crypto Trade!</p>
</div>
<div class="section-2">
    <p class="mat-display-3">
        <span class="text-custom-color">Network</span> Where Active Traders Exchange Ideas to <span class="text-custom-color">Maximize Profit</span>
    </p>
</div>
<div class="section-3 bottom-padding-2">
    <div>
        <i class="material-icons">code</i>
        <p class="centered-text">Angular 2</p>
    </div>
    <div>
        <i class="material-icons">assessment</i>
        <p class="centered-text">Crypto finance platform</p>
    </div>
    <div>
        <i class="material-icons">fingerprint</i>
        <p class="centered-text">Leading class security</p>
    </div>
</div>
<div class="section-4">
    <h1 class="mat-display-3">
        Top currencies
    </h1>
    <div class="section-5">
        <div class="card shadow" *ngFor="let item of bestCurrencies">
            <h4>{{item.name}}</h4>
            <!-- <img src={{item.ImageUrl}} alt="Logo"> -->
            <a routerLink="/currency/{{item.id}}"><img id={{item.name}} src={{item.ImageUrl}} alt="Logo"></a>
        </div>
    </div>
</div>