<div class="mat-typography">
    <div class="section-1">
        <p class="mat-display-4">Welcome!</p>
    </div>
    <div class="section-2">
        <p class="mat-display-3">
            <span class="text-custom-color">Network</span> Where Active Traders Exchange Ideas to <span class="text-custom-color">Maximize Profit</span>
        </p>
    </div>
    <div class="section-3 bottom-padding-2">
        <div class="column-left">
            <i class="material-icons">code</i>
            <p class="centered-text">Angular 2 &#60;code&#62;</p>
        </div>
        <div class="column-center">
            <i class="material-icons">assessment</i>
            <p class="centered-text">Crypto finance platform</p>
        </div>
        <div class="column-right">
            <i class="material-icons">fingerprint</i>
            <p class="centered-text">Leading class security</p>
        </div>
    </div>
    <div class="section-4">
        <div>
            <p class="mat-display-2">
                Top coins by volume:
            </p>
        </div>
    </div>
    <div class="bottom-padding-4"></div>
</div>
<!-- <md-card>Simple card</md-card> -->