<div *ngIf="this.currencyDetails" class="currency-details-common mat-typography">
    <div class="row currency-item">
        <h1>{{this.currencyDetails.fullName}}</h1>
        <img src="{{this.currencyDetails.image | imageUrlFormatter}}">
        <h4>Start date: {{ this.currencyDetails.startDate }}</h4>
        <h4>Total coin supply: {{ this.currencyDetails.totalSupply }}</h4>
        <h4>Description:</h4>
        <div [innerHTML]="this.currencyDetails.description"></div>
    </div>
    <md-card>
        <h4>Your balance:</h4>
        <span> {{this.getUserBalance()}} USD</span>
    </md-card>
    <div class="row price-container">
        <h4>Price conversions</h4>
        <p>USD value: {{this.currencyDetails.priceConversions['USD']}}</p>
    </div>
    <div  class="transaion-container">
        <p>Pay: ${{buyQty.value * this.currencyDetails.priceConversions['USD']}}</p>
        <input mdInput type="number" #buyQty [(ngModel)]="buyQuantity" (keyup)="isBuyAffordable(buyQty.value)" placeholder="Quantity" min="1" max="100">
        <button md-raised-button [disabled]="!affordableBuy" (click)="onBuy()" color="primary">Buy</button>

        <p>Recieve: ${{sellQty.value * this.currencyDetails.priceConversions['USD']}}</p>
        <input mdInput type="number" #sellQty [(ngModel)]="sellQuantity" (keyup)="isSellAfordable(sellQty.value)" placeholder="Quantity" min="1" max="100">
        <button md-raised-button [disabled]="!affordableSell" (click)="onSell()" color="primary">Sell</button>
    </div>
    <div class="currency-chart">
        <md-spinner *ngIf="loading" class="progreess-spinner"></md-spinner>
        <app-currency-chart *ngIf="!loading" [currancyOHLCData]="currencyData" [currencyName]="currencyDetails?.symbol"></app-currency-chart>
    </div>
    <div class="clear"></div>
    <div class="bottom-padding-4"></div>

</div>